.formContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createAccountForm {
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
    padding-block: 30px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.formLabel {
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding-top: 12px;
}

.formInput {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 52px;
    width: 440px;
    box-sizing: border-box;
    padding-inline: 20px;
    font-size: 24px;
    color: black;
}

.normalBtn {
    background-color: rgb(64, 64, 64);
    margin-top: 12px;
    margin-bottom: 10px;
    height: 52px;
    width: 440px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    border: none;
}

.normalBtn:hover {
    background-color: black;
}