/* 072541 블랙 */
/* f79aaf 찐핑 */
/* FBE0E6 핑크 */

.backgroundContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBE0E6;
}

.mainContainer {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.sideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 17%;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

.sideContainerOff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 17%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 14%;
    background-color: rgba(255, 255, 255, 0.85);
    height: 320px;
    width: 480px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: right 1.4s ease-in-out, height 0.4s ease-in-out;

    /* font 공통 */
    font-family: SharpSans, SharpSans Accents, SharpSans Symbols arial,sans-serif;
}

.loginContainerOff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: calc(50% - 275px);
    background-color: rgba(255, 255, 255, 0.85);
    height: 320px;
    width: 480px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: right 1.4s ease-in-out, height 0.4s ease-in-out;

    /* font 공통 */
    font-family: SharpSans, SharpSans Accents, SharpSans Symbols arial,sans-serif;
}

.loginContainer.active {
    height: 770px;
}

.loginContainerOff.active {
    height: 770px;
}

.loginInput {
    border: 1px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 40px;
    width: 360px;
    box-sizing: border-box;
    padding-inline: 20px;
    font-size: 21px;
    color: black;
}

.normalBtn {
    background-color: #FBE0E6;
    margin-top: 12px;
    margin-bottom: 10px;
    min-height: 40px;
    width: 360px;
    font-size: 18px;
    font-weight: bold;
    color: #072541;
    cursor: pointer;
    border: none;
}

.normalBtn:hover {
    background-color: #072541;
    color: white;
}

.loginLabel {
    color: #072541;
    font-weight: bold;
    font-size: 18px;
    padding-top: 12px;
}

.mainTitle {
    color: #072541;
    font-weight: bold;
    font-size: 130px;
}

.siTitle {
    position: relative;
    color: #072541;
    font-weight: bold;
    font-size: 38px;
    bottom: 24px;
}

.title {
    color: #f79aaf;
    font-weight: bold;
    font-size: 36px;
}

.icon {
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
}

.linkContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 110px;
}

.linkLabel {
    cursor: pointer;
    padding-inline: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #072541;
    font-weight: bold;
}

.linkLabel:hover {
    color: black;
    font-weight: bold;
}

.Logo {
    height: 120px;
    margin-top: 10px;
}