.backgroundContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBE0E6;
}

.mainContainer {
    display: flex;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    height: 90%;
    width: 90%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: right 1.4s ease-in-out;

    /* font 공통 */
    font-family: SharpSans, SharpSans Accents, SharpSans Symbols arial,sans-serif;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 18%;
    background-color: #353535;
}

.viewContainer {
    display: flex;
    height: 100%;
    width: 82%;
}

.titleContainer {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labelTitle {
    font-size: 28px;
    font-weight: 600;
    color: white;
}

.labelSubTitle {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.buttonTitle {
    font-size: 21px;
    font-weight: 500;
    color: white;
    margin-inline: 22px;
}

.MenuButton {
    height: 60px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.selectedMenuButton {
    background-color: #F15074;
}